/* RESET STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL VARIABLES */
:root {
  --primary-color: rgb(17, 42, 97); /* primary color */
  --secondary-color: rgb(21, 21, 83); /* secondary hover color */
  --highlight-color: #ff6314; /* highlight color */
  --error-color: rgb(145, 0, 0); /* error (for hit state) */
  --grid-size: 400px; /* grid size */
  --cell-size: 36px; /* smaller cell size */
  --border-radius: 5px; /* border radius for buttons */
  --transition-time: 0.3s; /* transition timing */
  --shadow-color: rgb(55, 89, 163); /* shadow color */
  /* ships lengths */
  --ship-length-aircraft-carrier: 5;
  --ship-length-assault-ship: 4;
  --ship-length-cruiser: 4;
  --ship-length-destroyer: 3;
  --ship-length-frigate: 2;
}

/* BODY STYLES */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
  font-family: Arial, sans-serif;
  color: #000;
}

/* MAIN STYLES */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

/* GAME CONTAINER */
.game-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  gap: 2rem;
}

/* GRID STYLES */
.player-grid,
.computer-grid {
  width: var(--grid-size);
  height: var(--grid-size);
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
  gap: 2px;
  border: 1px solid #000;
  justify-content: center;
  align-content: center;
}

/* STATE BUTTONS ALIGNMENT */
.state-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

/* GENERAL BUTTON STYLES */
.state-buttons .btn {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.state-buttons .btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.state-buttons .btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.state-buttons .btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* GRID CONTAINER STYLES */

.player-grid-container,
.computer-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.grid-description {
  font-weight: bold;
}

/* CELL STYLES */
.attack-btn {
  appearance: none;
  background-color: #fff;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
  box-shadow: var(--shadow-color) 0 -12px 6px inset;
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all var(--transition-time);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.attack-btn:hover {
  background-color: var(--secondary-color);
  box-shadow: var(--highlight-color) 0 -6px 8px inset;
  transform: scale(1.06);
}

.attack-btn:active {
  transform: scale(1.025);
  background-color: var(--error-color);
}

.ship-placed-cell {
  background-color: #000;
}

.player-cell-button {
  pointer-events: none;
  cursor: not-allowed;
}

.attack-btn:disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.random-btn-disable,
.start-btn-disable {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

/* SHIPS TO DEPLOY STYLES */
.ship-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border: var(--border-radius) solid var(--error-color);
  margin: 1rem 0 3rem 0;
}

/* STYLES FOR SPECIFIC SHIPS */
.aircraft-carrier {
  width: calc(var(--cell-size) * var(--ship-length-aircraft-carrier) + 2px * (var(--ship-length-aircraft-carrier) - 1));
}

.assault-ship {
  width: calc(var(--cell-size) * var(--ship-length-assault-ship) + 2px * (var(--ship-length-assault-ship) - 1));
}

.cruiser {
  width: calc(var(--cell-size) * var(--ship-length-cruiser) + 2px * (var(--ship-length-cruiser) - 1));
}

.destroyer {
  width: calc(var(--cell-size) * var(--ship-length-destroyer) + 2px * (var(--ship-length-destroyer) - 1));
}

.frigate {
  width: calc(var(--cell-size) * var(--ship-length-frigate) + 2px * (var(--ship-length-frigate) - 1));
}

.ship-container div {
  position: relative;
  height: var(--cell-size);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: grab;
  user-select: none;
}

.invalid-placement {
  animation: shake 0.3s ease-in-out;
  border: 2px solid red;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  75% {
    transform: translate(2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* HIT/MISS STYLES */
.attack-hit {
  background-color: red;
  transform: scale(0.9);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.attack-miss {
  background-color: aqua;
  transform: scale(0.9);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

/* GAMEOVER STYLE */

.game-over-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 42, 97, 0.95); /* primary with opacity */
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--shadow-color);
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  z-index: 999;
  text-align: center;
  pointer-events: none; /* makes it unclickable */
  animation: fadeInZoom 0.6s ease forwards;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* TOGGLE GRID STYLES */

.grid-disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.5s ease-out;
}

.grid-enabled {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
